*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea

# Local configuration file (sdk path, etc)
local.properties
apikeys.properties
.java-version

/.kotlin
